DB_HOST=localhost
DB_PORT=5435
DB_USER=principal
DB_PASS=DBTes1isP@assw0rdSt0ng0345
DB_NAME=postgres_db
DB_LOGGING=true
JWT_SECRET=Tes1is2JwT1P@assw0rdSt0ng0342355
FIREBASE_CREDENTIALS=./firebasekeys.json
FIREBASE_STORAGE=tesis-15d8f.firebasestorage.app
FEEDBACK_URL=http://localhost:8000/feedback/
